<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="LOV.">
    <meta property="og:description" content="LOV. (Loving Object Venture) movie by Laurent Grey, Graphic Designer, Photographer, Director">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.laurent-grey.com/lov">
    <meta property="og:image" content="http://www.laurent-grey.com/lov/assets/img/lov-og-image.jpg">
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>LOV</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but LOV. doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <img src="assets/img/lov-og-image.jpg" alt="og-image" style="display:none;">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
