/*
FONT
*/
@font-face {
    font-family: Maxeville;
    src: url(../fonts/SMMaxeville-Constructed.otf);
}
/*
EFFECTS
*/
@-webkit-keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fade-in {
    display: block !important;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
 @keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

 .fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes blinker {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

  @-webkit-keyframes blinker {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
/* 
  ##Device = Laptops, Desktops
*/
@media (min-width: 1025px) {
    body {
        background-color: #F6FBFC;
        overflow: hidden;
    }

    #app {
        font-family: Maxeville, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color:#000;
        text-shadow: 0 0 3px #F6FBFC;
        text-align: center;
    }

    #load-cover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: table;
        background-color: #F6FBFC;
        opacity: 1;
        cursor: wait;
        z-index: 99999;
    }
    
    #load-cover #load-cover-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    #load-cover-img {
        display: block;
        margin: 0 auto;
        max-width: 40%;
    }
    
    #load-cover #load-cover-modal {
        border: 1px solid #000;
        border-radius: 25px !important;
        background-color: #c7e3f9 !important;
        text-align: center !important;
        font-size: 26px;
        max-width: 40%;
        margin: 0 auto;
        margin-top: 40px;
        padding: 1em;
    }

    #load-cover #load-cover-modal #load-cover-howto {
        display: none;
    }
    
    #load-cover #load-cover-text {
        white-space: pre;
        font-size: 4vw;
        text-decoration: underline;
        opacity: 0;
    }

    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
        supported by Chrome and Opera */
    }
    
    /* DEBUG */
    .debug-mode {
        display: block;
        background-color: #000;
        color: #fff;
    }

    .debug-mode #app {
        font-family: "Monospace", Helvetica, Arial, sans-serif;
    }

    #debug-btn {
        position: relative;
        margin-top: 10px;
        right: 10px;
        float: right;
        clear: both;
        z-index: 1;
    }

    #debug-btn:hover {
        cursor: pointer;
    }

    #debug {
        display: none;
        position: relative;
        clear: both;
        text-align: left;
        text-shadow: 0 0 0px;
    }

    .debug-mode #debug {
        display: block;
        background-color: #000;
        color: #fff;
        margin-bottom: 20px;
    }

    #debug table {
        position: relative;
        width: 50%;
        height: auto;
        left: 25%;
        text-align: center;
        margin-top: 10px;
    }

    #debug th {
        border-right: 1px solid #fff;
    }

    #debug td {
        font-size: 12px;
        border-right: 1px solid #fff;
        text-align: left;
        padding-left: 10px;
    }

    .console-log-div {
        display: none;
        font-family: monospace;
        font-size: 12px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        white-space: pre;
        padding: 5px 10px;
        border: 0px !important;
        position: absolute;
        top: 10px ;
        left: 10px;
    }

    .debug-mode .console-log-div {
        display: block;
    }

    /* MODAL */
    .v--modal-overlay {
        background: rgba(255, 255, 255, 0) !important;
    }

    .v--modal {
        border:1px solid #000;
        border-radius: 25px !important;
        background-color: #c7e3f9 !important;
        position: relative !important;
        text-align: center !important;
        z-index: 99;
    }

    .v--modal-content {
        font-size: 26px;
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
    }

    .v--modal-content table {
        margin: 0 auto;
        font-size: 18px;
        border-spacing: 0px;
        border-collapse: separate;
    }

    .v--modal-content table tr td {
        padding: 0px;
    }

    .v--modal-content .v--modal-credits-top {
        margin-top: 45px;
    }

    .v--modal-content .v--modal-credits-bottom {
        position: relative;
        bottom: 30px;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }
    
    /* MENU */
    #container-outer {
        display: table;
        height: 100%;
        position: absolute;
        left: 0px;
    }
        
    #container-middle {
        display: table-cell;
        vertical-align: middle;
    }
        
    #menu {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    .debug-mode #container-outer {
        height: auto;
    }

    .debug-mode #menu {
        max-width: 50%;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .links {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 4px;
    }

    .links a {
        float: left;
        clear: none;
        outline: 0; 
        width: 35%;
        z-index: 9999;
    }

    .links .link-left {
        text-align: left;
        float: left;
        position: absolute;
        left: 0px;
    }

    .links .link-right {
        text-align: right;
        float: right;
        position: relative;
    }

    #interact-btn {
        position: relative;
        margin-top: 10px;
        right: 10px;
        float: right;
        clear: both;
        z-index: 1;
    }

    #interact-btn:hover {
        cursor: pointer;
    }
    
    .tap-button {
        display: none;
    }

    /* PLAYER */
    #player-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    #load-player {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    #load-text {
        color: #fff;
        font-size: 2.5vw;
        position: absolute;
        margin: 0 auto;
        width: inherit;
        bottom: 46%;
        opacity: 0;
    }

    #load-video { 
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border: 1px solid #000;
        -webkit-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        border-radius: 20px !important;
        outline: 0;
        position: relative;
        right: 0px;
        z-index: 0;
    }


    #youtube-player {
        border: 1px solid black;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        background-color: #000;
        display: none;
    }

    #youtube-player iframe {
        max-width: 100%;
    }

    #youtube-title-mask {
        display: block;
        width: 97.5%;
        height: 4vh;
        position: absolute;
        left: 10px;
        background-color: #000;
        z-index: 9;
    }
}