/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: #F6FBFC;
        overflow: hidden;
    }

    #app {
        font-family: Maxeville, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color:#000;
        text-shadow: 0 0 3px #F6FBFC;
        text-align: center;
    }

    #load-cover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: table;
        background-color: #F6FBFC;
        opacity: 1;
        z-index: 99999;
    }
    
    #load-cover #load-cover-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    #load-cover-img {
        display: block;
        margin: 0 auto;
        max-width: 50%;
    }

    #load-cover #load-cover-modal {
        border: 1px solid #000;
        border-radius: 25px !important;
        background-color: #c7e3f9 !important;
        text-align: center !important;
        font-size: 1.5em;
        max-width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        padding: 1em;
    }

    #load-cover #load-cover-modal #load-cover-howto {
        display: none;
    }
    
    #load-cover #load-cover-text {
        white-space: pre;
        font-size: 5vw;
        text-decoration: underline;
        opacity: 0;
    }
    
    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
        supported by Chrome and Opera */
    }
    
    /* DEBUG */
    .debug-mode {
        display: block;
        background-color: #000;
        color: #fff;
    }

    .debug-mode #app {
        font-family: "Monospace", Helvetica, Arial, sans-serif;
    }

    #debug-btn {
        position: relative;
        margin-top: 10px;
        right: 10px;
        float: right;
        clear: both;
        z-index: 1;
    }

    #debug-btn:hover {
        cursor: pointer;
    }

    #debug {
        display: none;
        position: relative;
        clear: both;
        text-align: left;
        text-shadow: 0 0 0px;
    }

    .debug-mode #debug {
        display: block;
        background-color: #000;
        color: #fff;
        margin-bottom: 20px;
    }

    #debug table {
        position: relative;
        width: 50%;
        height: auto;
        left: 25%;
        text-align: center;
        margin-top: 10px;
    }

    #debug th {
        border-right: 1px solid #fff;
    }

    #debug td {
        font-size: 12px;
        border-right: 1px solid #fff;
        text-align: left;
        padding-left: 10px;
    }

    .console-log-div {
        display: none;
        font-family: monospace;
        font-size: 12px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        white-space: pre;
        padding: 5px 10px;
        border: 0px !important;
        position: absolute;
        top: 10px ;
        left: 10px;
    }

    .debug-mode .console-log-div {
        display: block;
    }

    /* MODAL */
    .v--modal-overlay {
        background: rgba(255, 255, 255, 0) !important;
    }

    .v--modal {
        border:1px solid #000;
        border-radius: 25px !important;
        background-color: #c7e3f9 !important;
        position: relative !important;
        text-align: center !important;
    }

    .v--modal-content {
        font-size: 22px;
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
    }

    .v--modal-content table {
        margin: 0 auto;
        font-size: 16px;
        border-spacing: 0px;
        border-collapse: separate;
    }

    .v--modal-content table tr td {
        padding: 0px;
    }

    .v--modal-content .v--modal-credits-top {
        margin-top: 45px;
    }

    .v--modal-content .v--modal-credits-bottom {
        position: relative;
        bottom: 30px;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }
    
     /* MENU */
     #container-outer {
        display: table;
        height: 100%;
        position: absolute;
        left: 0px;
    }
      
    #container-middle {
        display: table-cell;
        vertical-align: middle;
    }
      
    #menu {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .debug-mode #container-outer {
        height: auto;
    }

    .debug-mode #menu {
        max-width: 50%;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .links {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 8px;
    }

    .links a {
        float: left;
        clear: none;
        outline: 0; 
        width: 35%;
        z-index: 0;
    }

    .links .link-left {
        text-align: left;
        float: left;
        position: absolute;
        left: 0px;
    }

    .links .link-right {
        text-align: right;
        float: right;
        position: relative;
    }

    #interact-btn {
        position: relative;
        margin-top: 10px;
        right: 10px;
        float: right;
        clear: both;
        z-index: 1;
    }

    #interact-btn:hover {
        cursor: pointer;
    }

    .tap-button {
        width: 25%;
        height: 60px;
        position: absolute;
        bottom: 10%;
        left: 40%;
        margin: 0 auto;
        background-color: #c7e3f9;
        color: #000;
        border: 1px solid #000;
        -webkit-border-radius: 8px !important;
        -ms-border-radius: 8px !important;
        -o-border-radius: 8px !important;
        border-radius: 8px !important;
        font-size: 16px;
        font-family: Maxeville, sans-serif;
        outline: 0;
        opacity: 1;
        -webkit-box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        -ms-box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        -o-box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        -webkit-transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        -ms-transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        display: none;
    }

    .tap-button:active {
        background-color: #808080;
        -webkit-box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        -ms-box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        -o-box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        -webkit-transform: translate(0px, 8px);
        -ms-transform: translate(0px, 8px);
        -o-transform: translate(0px, 8px);
        transform: translate(0px, 8px);
    }

    #tap-button-right {
        visibility: hidden;
    }

    /* PLAYER */
    #player-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    #load-player {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: #000;
        padding: 1px;
        padding-bottom: 0px;
        border-radius: 20px;
    }

    #load-text {
        color: #fff;
        font-size: 5vw;
        position: absolute;
        margin: 0 auto;
        width: inherit;
        bottom: 46%;
        opacity: 0;
    }

    #load-video { 
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border: 0px solid #000;
        -webkit-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        border-radius: 20px !important;
        outline: 0;
        position: relative;
        right: 0px;
        z-index: 0;
    }

    #youtube-player {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        border: 1px solid black;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        overflow: hidden;
        opacity: 0;
    }

    #youtube-player iframe {
        max-width: 100%;
    }

    #youtube-title-mask {
        display: block;
        width: 78vw;
        height: 4vh;
        position: absolute;
        z-index: 9;
        background-color: #000;
        left: 10px;
    }
}
  
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        background-color: #F6FBFC;
        overflow: hidden;
    }

    #app {
        font-family: Maxeville, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color:#000;
        text-shadow: 0 0 3px #F6FBFC;
        text-align: center;
    }

    #load-cover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: table;
        background-color: #F6FBFC;
        opacity: 1;
        z-index: 99999;
    }
    
    #load-cover #load-cover-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    #load-cover-img {
        display: block;
        margin: 0 auto;
        max-width: 50%;
    }

    #load-cover #load-cover-modal {
        border: 1px solid #000;
        border-radius: 25px !important;
        background-color: #c7e3f9 !important;
        text-align: center !important;
        font-size: 1.5em;
        max-width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        padding: 1em;
    }

    #load-cover #load-cover-modal #load-cover-howto {
        display: none;
    }
    
    #load-cover #load-cover-text {
        white-space: pre;
        font-size: 5vw;
        text-decoration: underline;
        opacity: 0;
    }
    
    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
        supported by Chrome and Opera */
    }
    
    /* DEBUG */
    .debug-mode {
        display: block;
        background-color: #000;
        color: #fff;
    }

    .debug-mode #app {
        font-family: "Monospace", Helvetica, Arial, sans-serif;
    }

    #debug-btn {
        position: relative;
        margin-top: 10px;
        right: 10px;
        float: right;
        clear: both;
        z-index: 1;
    }

    #debug-btn:hover {
        cursor: pointer;
    }

    #debug {
        display: none;
        position: relative;
        clear: both;
        text-align: left;
        text-shadow: 0 0 0px;
    }

    .debug-mode #debug {
        display: block;
        background-color: #000;
        color: #fff;
        margin-bottom: 20px;
    }

    #debug table {
        position: relative;
        width: 50%;
        height: auto;
        left: 25%;
        text-align: center;
        margin-top: 10px;
    }

    #debug th {
        border-right: 1px solid #fff;
    }

    #debug td {
        font-size: 12px;
        border-right: 1px solid #fff;
        text-align: left;
        padding-left: 10px;
    }

    .console-log-div {
        display: none;
        font-family: monospace;
        font-size: 12px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        white-space: pre;
        padding: 5px 10px;
        border: 0px !important;
        position: absolute;
        top: 10px ;
        left: 10px;
    }

    .debug-mode .console-log-div {
        display: block;
    }

    /* MODAL */
    .v--modal-overlay {
        background: rgba(255, 255, 255, 0) !important;
    }

    .v--modal {
        border:1px solid #000;
        border-radius: 25px !important;
        background-color: #c7e3f9 !important;
        position: relative !important;
        text-align: center !important;
    }

    .v--modal-content {
        font-size: 22px;
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
    }

    .v--modal-content table {
        margin: 0 auto;
        font-size: 16px;
        border-spacing: 0px;
        border-collapse: separate;
    }

    .v--modal-content table tr td {
        padding: 0px;
    }

    .v--modal-content .v--modal-credits-top {
        margin-top: 45px;
    }

    .v--modal-content .v--modal-credits-bottom {
        position: relative;
        bottom: 30px;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }
    
     /* MENU */
     #container-outer {
        display: table;
        height: 100%;
        position: absolute;
        left: 0px;
    }
      
    #container-middle {
        display: table-cell;
        vertical-align: middle;
    }
      
    #menu {
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
    }

    .debug-mode #container-outer {
        height: auto;
    }

    .debug-mode #menu {
        max-width: 50%;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .links {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 8px;
    }

    .links a {
        float: left;
        clear: none;
        outline: 0; 
        width: 35%;
        z-index: 0;
    }

    .links .link-left {
        text-align: left;
        float: left;
        position: absolute;
        left: 0px;
    }

    .links .link-right {
        text-align: right;
        float: right;
        position: relative;
    }

    #interact-btn {
        position: relative;
        margin-top: 10px;
        right: 10px;
        float: right;
        clear: both;
        z-index: 1;
    }

    #interact-btn:hover {
        cursor: pointer;
    }

    .tap-button {
        width: 8%;
        height: 40px;
        position: absolute;
        bottom: 45%;
        left: 40%;
        margin: 0 auto;
        background-color: #c7e3f9;
        color: #000;
        border: 1px solid #000;
        -webkit-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
        border-radius: 10px !important;
        font-size: 16px;
        font-family: Maxeville, sans-serif;
        outline: 0;
        opacity: 1;
        -webkit-box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        -ms-box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        -o-box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        box-shadow: 0 8px 0 #98bbd5, 0 15px 20px rgba(0, 0, 0, .35);
        -webkit-transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        -ms-transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        display: none;
    }

    .tap-button:active {
        background-color: #808080;
        -webkit-box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        -ms-box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        -o-box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        box-shadow: 0 4px 0 #98bbd5, 0 5px 10px rgba(0, 0, 0, .35);
        -webkit-transform: translate(0px, 8px);
        -ms-transform: translate(0px, 8px);
        -o-transform: translate(0px, 8px);
        transform: translate(0px, 8px);
    }

    #tap-button-left {
        left: 3.5%;
    }

    #tap-button-right {
        right: -45%;
        visibility: visible;
    }

    /* PLAYER */
    #player-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    #load-player {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: #000;
        padding: 1px;
        padding-bottom: 0px;
        border-radius: 20px;
    }

    #load-text {
        color: #fff;
        font-size: 5vw;
        position: absolute;
        margin: 0 auto;
        width: inherit;
        bottom: 46%;
        opacity: 0;
    }

    #load-video { 
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border: 0px solid #000;
        -webkit-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        border-radius: 20px !important;
        outline: 0;
        position: relative;
        right: 0px;
        z-index: 0;
    }

    #youtube-player {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        border: 1px solid black;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        overflow: hidden;
        opacity: 0;
    }

    #youtube-player iframe {
        max-width: 100%;
    }

    #youtube-title-mask {
        display: block;
        width: 78vw;
        height: 5vh;
        position: absolute;
        z-index: 9;
        background-color: #000;
        left: 10px;
    }
}
