<template>
  <div class="home">
    <h1>LOV</h1>
    <!-- <img src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <VideoPlayer />
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import VideoPlayer from "@/components/VideoPlayer.vue";

export default {
  name: "home",
  components: {
    // HelloWorld,
    VideoPlayer
  }
};
</script>
