<template>
  <div id="player"> 
    <youtube ref="youtube" :video-id="videoId" :player-vars="playerVars" @ready="ready" @playing="playing" @paused="paused" @buffering="buffering" @ended="ended"></youtube> 
  </div> 
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#player {
	position: relative;
	width: 100%;
	float: left;
}
</style>

<script>
export default {
  data() {
    return {
      videoId: "11YT1OAB7iI",
      playerVars: {
      	autoplay: 1,
      	controls: 0,
      	disablekb: 1,
      	start: 0,
      	rel: 0,
      	showinfo: 0,
      	modestbranding : 1,
      },
      time: 0.0,
      state: "UNSTARTED",
      playbackRate: 1
    };
  },
  computed: {
    player() {
      return this.$refs.youtube.player;
    }
  },
  methods: {
    createVideoPlayer() {
      this.player.seekTo(790, true);

		  // console.log(this.$refs);

      // this.setSubtitles();
    },

    ready() {
			console.log("READY");
		},

    play() {
      this.player.playVideo();
    },

    pause() {
      this.player.pauseVideo();
    },

    paused() {
        // clearInterval(this.processId);
        console.log("PAUSED");
    },
    
    buffering() {
			console.log("BUFFERING...");
		},

    ended() {
			console.log("ENDED");
		},

    getVideoState() {
      this.player.getPlayerState().then(state => {
        switch (state) {
          case -1:
            this.videoState = "UNSTARTED";
            break;
          case 0:
            this.videoState = "ENDED";
            break;
          case 1:
            this.videoState = "PLAYING";
            break;
          case 2:
            this.videoState = "PAUSED";
            break;
          case 3:
            this.videoState = "BUFFERING";
            break;
          case 5:
            this.videoState = "VIDEO CUED";
            break;
        }
      });
    },

    async playing() {
      // let totalTime = await this.player.getDuration();
      
      // this.audio[0] = document.getElementById("audio0");
      // this.audio[0].load();

      // this.audio[1] = document.getElementById("audio1");
      // this.audio[1].load();
      
      // this.processId = setInterval(() => {
      // 	this.player.getCurrentTime().then(videoTime => {
      // 		// let progress = ((videoTime / this.totalTime) * 100).toFixed(4);
      // 		let progress = (((this.elapsedTime) / this.totalTime) * 100).toFixed(2);

      // 		this.progress = progress < 100 ? progress : 100;
      // 		this.updateTime(videoTime);						
      // 	});
      // }, 10);
    },
  }
};

</script>