<template>
	<div id="app" class="no-select">
		<div id="load-cover">
			<div id="load-cover-wrapper">
				<img id="load-cover-img" class="fade-in" src="assets/img/logo.png">
				<div id="load-cover-modal" class="fade-in">
					<p id="load-cover-about">
						LOV IS AN INTERACTIVE MOVIE<br>
						TELLING A LOVE STORY<br>
						BETWEEN A DELIVERY MAN<br>
						AND A PARCEL
					</p>
					<div id="load-cover-howto">
						LOV. IS AN INTERACTIVE SHORT MOVIE,<br>
						EVERYTIME YOU WILL WATCH IT<br>
						THE EXPERIENCE WILL BE DIFFERENT,<br>
						<span class="modal-howto-text"></span><br>
						TO FOLLOW A DIFFERENT SCENE,<br>
						OR JUST RELAX AND WATCH<br>
						THE ENTIRE MOVIE WITHOUT INTERACTION
					</div>
				</div>
				<p id="load-cover-text" class="fade-in blink">LOADING</p>
			</div>
		</div>
		<!-- <button id="interact-btn" v-on:click="timeline.goTo(videoPlayer, 790)">
			GO
		</button> -->
		<!-- <button id="debug-btn" v-on:click="setDebugMode()">
			DEBUG MODE
		</button> -->
		<div id="debug">
			<table>
				<tr>
					<th>TIMELINE</th>
					<th>VIDEO</th>
					<th>AUDIO</th>
				</tr>
				<tr>
					<td>ELAPSED TIME: {{ timeline.elapsedTime }}</td>
					<td>TIME: {{ videoPlayer.time }}</td>
					<td>TIME: {{ audioPlayer.time }}</td>
				</tr>
				<tr>
					<td>DIALOG ENSEMBLE ELAPSED TIME: {{ timeline.elapsedDialogTime }}</td>
					<td>STATE: {{ videoPlayer.state }}</td>
					<td>STATE: {{ audioPlayer.currentSourceState }}</td>
				</tr>
				<tr>
					<td>DIALOG SOLO ELAPSED TIME: {{ timeline.elapsedDialogSoloTime }}</td>
					<td>PLAYBACK RATE: {{ videoPlayer.playbackRate }}</td>
					<td>PLAYBACK RATE: {{ audioPlayer.playbackRate }}</td>
				</tr>
				<tr>
					<td>PROGRESS: {{ timeline.progress }} %</td>
					<td></td>
					<td>FILE: {{ audioPlayer.currentSourceFile }}</td>
				</tr>
				<tr>
					<td>MODE: {{ timeline.mode }}</td>
				</tr>
				<tr>
					<td>SCENE: {{ timeline.scene }}</td>
				</tr>
				<tr>
					<td>TIMECODE: {{ timeline.timecode }}</td>
				</tr>
			</table>
		</div>
		<div id="container-outer">
			<div id="container-middle">	
				<div id="menu">
					<div class="links">
						<a v-on:mouseover="showModalLink('about')" v-on:mouseout="hideModalLink('about')"  id="link-about" class="link-left" href="javascript:void(0)">
							<img class="logo" src="assets/img/logo.png">
						</a>
						<modal name="about" :delay="100" @adaptive="true" @before-open="beforeOpen" @before-close="beforeClose" @opened="opened" @closed="closed">
							<div class="v--modal-content">
								IN A NEAR FUTURE,<br>
								A DELIVERY MAN DISCOVERS,<br>
								AFTER THE VISIT OF HIS FIRST<br>
								CLIENT, THAT IT IS POSSIBLE TO<br>
								LOVE THINGS BEYOND THE NORM,<br>
								FALLING IN LOVE WITH THE<br>
								PARCELS HE DELIVERS
							</div>
						</modal>
						<a v-on:mouseover="showModalLink('howto')" v-on:mouseout="hideModalLink('howto')" id="link-howto" class="link-right" href="javascript:void(0)">
							<img class="logo" src="assets/img/logo.png">
						</a>
						<modal name="howto" :delay="100" @adaptive="true" @before-open="beforeOpen" @before-close="beforeClose" @opened="opened" @closed="closed">
							<div class="v--modal-content">
								LOV. IS AN INTERACTIVE SHORT MOVIE,<br>
								EVERYTIME YOU WILL WATCH IT<br>
								THE EXPERIENCE WILL BE DIFFERENT,<br>
								PRESS SPACEBAR OR TAP<br>
								TO FOLLOW A DIFFERENT SCENE,<br>
								OR JUST RELAX AND WATCH<br>
								THE ENTIRE MOVIE WITHOUT INTERACTION
							</div>
						</modal>
					</div>
					<div id="player-container">
						<div id="load-player">
							<video id="load-video" autoplay muted loop playsinline>
								<source src="assets/video/loop-intro.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video>
							<p id="load-text"></p>
						</div>
						<div id="youtube-player">
							<div id="youtube-title-mask"></div> 
							<youtube ref="youtube" :video-id="videoId" :player-vars="playerVars" :width="playerWidth" :height="playerHeight" @ready="ready" @playing="playing" @paused="paused" @buffering="buffering" @ended="ended"></youtube> 
						</div>
					</div>
					<div class="links">
						<a v-on:mouseover="showModalLink('credits')" v-on:mouseout="hideModalLink('credits')" id="link-credits" class="link-left" href="javascript:void(0)">
							<img class="logo" src="assets/img/logo.png">
						</a>
						<modal name="credits" @adaptive="true" :delay="100" @before-open="beforeOpen" @before-close="beforeClose" @opened="opened" @closed="closed">
							<div class="v--modal-content">
								<table>
									<tr>
										<td class="align-right">ACTORS.....</td>
										<td class="align-left">CHARLES MONNIER</td>
									</tr>
									<tr>
										<td class="align-right"></td>
										<td class="align-left">HUGO DILLON</td>
									</tr>
									<tr>
										<td class="align-right">ASSISTANT DIRECTOR.....</td>
										<td class="align-left">HAMAN FOULAVAND</td>
									</tr>
									<tr>
										<td class="align-right">HEAD OPERATOR.....</td>
										<td class="align-left">NOE PRADEL FRAYSSE</td>
									</tr>
									<tr>
										<td class="align-right"></td>
										<td class="align-left">THIBAULT BELOUIS</td>
									</tr>
									<tr>
										<td class="align-right">STAGE MANAGER.....</td>
										<td class="align-left">CAMILLE JAMART</td>
									</tr>
									<tr>
										<td class="align-right">DECORATOR.....</td>
										<td class="align-left">PAUL LE MAIGNAN</td>
									</tr>
									<tr>
										<td class="align-right">COSTUME.....</td>
										<td class="align-left">VERENE DE HUTTEN</td>
									</tr>
									<tr>
										<td class="align-right">MAKEUP.....</td>
										<td class="align-left">LU WENTING</td>
									</tr>
									<tr>
										<td class="align-right">SOUND.....</td>
										<td class="align-left">SINA MOHSENI</td>
									</tr>
									<tr>
										<td class="align-right">MUSIC.....</td>
										<td class="align-left">VICTOR MORELLO</td>
									</tr>
									<tr>
										<td class="align-right">PROGRAMMER.....</td>
										<td class="align-left">GUILLAUME PICCARRETA</td>
									</tr>
								</table>
							</div>
						</modal>
						<a v-on:mouseover="showModalLink('contact')" v-on:mouseout="hideModalLink('contact')" id="link-contact" class="link-right" href="javascript:void(0)">
							<img class="logo" src="assets/img/logo.png">
						</a>
						<modal name="contact" @adaptive="true" :delay="100" @before-open="beforeOpen" @before-close="beforeClose" @opened="opened" @closed="closed">
							<div class="v--modal-content">
								<div class="v--modal-credits-top">
									DIRECTED BY<br>
									LAURENT GREY<br>
								</div>
								<br>
								<br>
								<br>
								<div class="v--modal-credits-bottom">
									LAURENTGREY.COM<br>
									CONTACT@LAURENTGREY.COM
								</div>
							</div>
						</modal>
					</div>
					<button id="tap-button-left" class="tap-button">
						TAP
					</button>
					<button id="tap-button-right" class="tap-button">
						TAP
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss">
@import '../public/assets/css/desktop.css';
@import '../public/assets/css/tablet.css';
@import '../public/assets/css/mobile.css';
</style>

<script>
	import videoPlayer from "./videoPlayer";
	import audioPlayer from "./audioPlayer";
	import timeline from "./timeline";
	import { isMobile, isTablet, osName, osVersion } from 'mobile-device-detect';
	import Konami from 'konami';

	export default {
		data() {
			return {
				name: "player",
				videoPlayer: "",
				audioPlayer: "",
				timeline: "",
				processId: null,
				videoId: "M58ba3OMdXw",
				playerVars: {
					autoplay: 0,
					controls: 0,
					playsinline: 1,
					enablejsapi: 1,
					disablekb: 1,
					start: 0,
					rel: 0,
					showinfo: 1,
					modestbranding : 0,
					cc_load_policy: 1
				},
				debugMode: false,
				playerWidth: 980,
				playerHeight: 640,
				playerRefreshRate: 50,
				loadPlayerEl: null,
				loadPlayerElReady: false,
				isTablet: false,
				isMobile: false,
				isMobileReady: false,
				isDeviceSupported: true,
				isLoadCoverReady: false,
				tapButtonEl: null
			};
		},
		computed: {
			player() {
				return this.$refs.youtube.player;
			}
		},
		mounted: function() {
			console.log(this.name + "| MOUNTED");			
			let _this = this;

			this.checkMobile();

			this.onLoadReady();

			let konamiDebug = new Konami(function() {
				_this.setDebugMode();
			});
		},
		methods: {
			// YOUTUBE EVENT LISTENERS
			ready() {
				console.log(this.name + "| READY");

				if (this.isDeviceSupported) {
					this.createTimeline().then(
						result => {this.createPlayer()},
						error => alert(error)
					);
				} else {
					// TODO: fallback to default video
					let loadCoverText = document.getElementById("load-cover-text");
					loadCoverText.classList.remove("blink");
					loadCoverText.textContent = "YOUR DEVICE IS NOT SUPPORTED" + "\r\n" + "PLEASE UPDATE YOUR OS VERSION";

					document.getElementById("container-outer").style.display = "none";
				}
			},

			playing() {				
				this.startProcess();

				console.log(this.name + "| PLAYING");
			},

			paused() {
				this.pause();

				console.log(this.name + "| PAUSED");
			},
			
			buffering() {
				clearInterval(this.processId);

				if (this.isMobileReady) {
					this.showPlayer();
					this.startPlayer();

					this.isMobileReady = false;
				}

				this.videoPlayer.getState();

				this.audioPlayer.pauseAll();
				this.audioPlayer.setPlaybackStateAll();

				console.log(this.name + "| BUFFERING...");
			},

			ended() {
				if (this.timeline.elapsedTime > this.timeline.totalTime) {
					clearInterval(this.processId);

					this.videoPlayer.stop();
					this.videoPlayer.getState();

					this.audioPlayer.stopAll();
					this.audioPlayer.setPlaybackStateAll();
					
					location.reload();
				}

				console.log(this.name + "| ENDED");
			},

			// MODAL
			beforeOpen (event) {
				// console.log("modal | BEFORE OPEN")
				//document.querySelector("body").style.cursor = "pointer";
			},

			beforeClose (event) {
				// console.log("modal | BEFORE CLOSE")
			},

			opened (event) {
				// console.log("modal | OPENED");
				//document.querySelector("body").style.cursor = "default";
			},

			closed (event) {
				// console.log("modal | CLOSED");
			},

			showModalLink(link) {
				let _this = this;

				this.$modal.show(link);

				console.log(link + " | SHOW");
			},
			
			hideModalLink(link) {
				let _this = this;

				this.$modal.hide(link);

				console.log(link + " | HIDE");
    		},

			// CUSTOM EVENTS
			onLoadReady() {
				let _this = this;
				
				this.loadPlayerEl = document.getElementById("load-video");

				this.loadPlayerEl.addEventListener("loadeddata", function(){
					if (_this.loadPlayerEl.readyState == 4) {
						_this.loadPlayerElReady = true;
					}
				});
			},

			setDebugMode() {
				if (!this.isMobile) {
					let bodyEl = document.querySelector("body");
					let logoEl = document.getElementsByClassName("logo");
					if(this.debugMode) {
						bodyEl.classList.add("debug-mode");
						for (let logo of logoEl) {
							logo.src = "assets/img/logo-white.png";
						}
						this.debugMode = !this.debugMode;
					} else {
						bodyEl.classList.remove("debug-mode");
						for (let logo of logoEl) {
							logo.src = "assets/img/logo.png";
						}
						this.debugMode = !this.debugMode;
					}
				}
			},

			checkMobile() {
				this.isMobile = isMobile;
				this.isTablet = isTablet;

				let blacklist = [
					{os: "iOS", ver:"9"},
					{os: "Android", ver:"8"}
				]

				let version = parseInt(osVersion);

				for (let i=0; i<blacklist.length; i++) {
					if (osName == blacklist[i].os && version < blacklist[i].ver) {
						this.isDeviceSupported = false;
					}
				}
			},

			async createTimeline() {
				let promise = new Promise((resolve, reject) => {					
					this.timeline = new timeline();
					this.timeline.getTimelineData().then(
						result => resolve(result),
						error => alert(error)
					);
				});

				// wait till the promise resolves
				let result = await promise;

				return result;
			},

			async createPlayer() {
				let promise = new Promise((resolve, reject) => {
					let _this = this;

					this.videoPlayer = new videoPlayer();
					this.videoPlayer.createVideoPlayer(this.player);

					this.audioPlayer = new audioPlayer();
					this.audioPlayer.createAudioPlayer().then(
						result => {resolve(_this.loadPlayer())},
						error => alert(error)
					);
				});

				// wait till the promise resolves
				let result = await promise;

				return result;
			},

			loadPlayer() {
				let _this = this;

				this.audioPlayer.loadAudioSources();
				
				this.setDebugMode();

				this.resizePlayer();

				window.addEventListener("resize", function() {
					_this.resizePlayer();
				});

				let modalHowtoText = document.getElementsByClassName("modal-howto-text")[0];
				this.isMobile ? modalHowtoText.textContent = " TAP " : modalHowtoText.textContent = " PRESS THE SPACEBAR ";
				
				let loadText = document.getElementById("load-text");
				this.isMobile ? loadText.textContent = "TAP TO WATCH" : loadText.textContent = "PRESS SPACEBAR TO WATCH";
				loadText.classList.add("fade-in");
				loadText.classList.add("blink");

				let loadCover = document.getElementById("load-cover");
				loadCover.style.cursor = "pointer";

				let loadCoverModal = document.getElementById("load-cover-modal");

				let loadCoverAbout = document.getElementById("load-cover-about");
				let loadCoverHowTo = document.getElementById("load-cover-howto");

				let loadCoverText = document.getElementById("load-cover-text");
				loadCoverText.classList.remove("blink");
				loadCoverText.textContent = "START";

				this.tapButtonEl = document.getElementsByClassName("tap-button");

				if (this.isMobile) {
					// TABLET/MOBILE
					loadCover.ontouchstart = function(e){
						if (!this.isLoadCoverReady) {
							loadCoverAbout.style.display = "none";
							loadCoverHowTo.style.display = "block";

							setTimeout(() => this.isLoadCoverReady = true, 1000);
						}

						if (this.isLoadCoverReady) {
							loadCover.classList.add("fade-out");
							loadCoverText.classList.remove("fade-in");
							loadCoverModal.classList.remove("fade-in");

							this.playerRefreshRate = 1000;

							setTimeout(() => {loadCover.style.display = "none";}, 1000);

							_this.isMobileReady = true;
						}
					}
				} else {
					// DESKTOP
					loadCover.onclick = function(e){
						if (!this.isLoadCoverReady) {
							loadCoverAbout.style.display = "none";
							loadCoverHowTo.style.display = "block";

							setTimeout(() => this.isLoadCoverReady = true, 1000);
						}

						if (this.isLoadCoverReady) {
							loadCover.classList.add("fade-out");
							loadCover.style.cursor = "wait";

							loadCoverModal.classList.remove("fade-in");

							loadCoverText.classList.remove("fade-in");

							setTimeout(() => {loadCover.style.display = "none";loadCover.style.cursor = "default";}, 2000);

							document.body.onkeyup = function(e){
								if(e.keyCode == 32){
									_this.showPlayer();
									_this.startPlayer();
								}
							}
						}
					}
				}
			},

			showPlayer() {
				if(this.loadPlayerElReady || this.isMobile) {
					let loadTitle = document.getElementById("load-player");
					loadTitle.classList.remove("fade-in");
					loadTitle.classList.remove("blink");

					let loadPlayer = document.getElementById("load-video");
					loadPlayer.classList.add("fade-out");
					loadPlayer.style["animation-duration"] = "3s";
					loadPlayer.style["-webkit-animation-duration"] = "3s";

					let loadPlayerText = document.getElementById("load-text");
					loadPlayerText.classList.add("fade-out");
					loadPlayerText.style["animation-duration"] = "2s";
					loadPlayerText.style["-webkit-animation-duration"] = "2s";

					let ytPlayer = document.getElementById("youtube-player");
					ytPlayer.classList.add("fade-in");

					setTimeout( () => {loadPlayer.style.visibility = "hidden";loadPlayerText.style.visibility = "hidden";}, 4000);
					
					if (this.isMobile) {
						let tapButtonEl = document.getElementsByClassName("tap-button");
						tapButtonEl[0].classList.add("fade-in");
						tapButtonEl[1].classList.add("fade-in");
					}

					this.loadPlayerElReady = false;

					console.log(this.timeline.name + " | PART: ", this.timeline.currentPartId + 1);
				}
			},

			startPlayer() {
				this.player.seekTo(0, true);
				this.play();
			},

			resizePlayer() {
				let _this = this;
				
				let width = window.getComputedStyle(_this.loadPlayerEl, null).width;
				width = parseInt(width.replace("px", ""));

				let height = window.getComputedStyle(_this.loadPlayerEl, null).height;
				height = parseInt(height.replace("px", ""));

				let ytEl = document.getElementById("youtube-player");
				ytEl.style.width = String(width) + "px";
				ytEl.style["max-height"] = String(height) + "px";

				let ytIframe = document.querySelector("#youtube-player iframe");
				ytIframe.style.width = String(width) + "px";
				ytIframe.style["max-height"] = String(height) + "px";
			},

			play() {
				clearInterval(this.processId);

				this.videoPlayer.play();
			},

			pause() {
				clearInterval(this.processId);
				
				this.videoPlayer.pause();
				this.videoPlayer.getState();

				this.audioPlayer.pauseAll();
				this.audioPlayer.setPlaybackStateAll();
			},

			startProcess() {
				this.processId = setInterval(() => {
					this.player.getCurrentTime().then(videoTime => {
						this.videoPlayer.time = videoTime.toFixed(2);
						this.videoPlayer.getState();

						// this.audioPlayer.playAll();
						this.audioPlayer.fadeInAll();
						this.audioPlayer.setPlaybackStateAll();
						
						this.timeline.updateTime(this.videoPlayer, this.audioPlayer);
					});
				}, this.playerRefreshRate);
			}
			
		}
	};
</script>
